<h2>Create an account</h2>

<%= form_for @user do |f| -%>
  Name: <%= f.text_field :name %><br />
  Email: <%= f.text_field :email %><br />
  Password: <%= f.text_field :password %><br />
  <%= f.submit %>

<% end -%>
