<h2>POST</h2>

<label>TITLE::</label><%= @post.title %><%= link_to "Edit", edit_post_path(@post) %><br />
<label>CONTENT::</label><%= @post.content %>
<h2>comments section</h2><br>





<%= form_for([@post, @post.comments.build]) do |f| %>
   <%= f.text_area :message %><br />
   <%= f.submit %>
<% end -%>




<ul>
	<% @post.comments.each do |comment| %>
	<li><%= comment.message %><%= link_to 'Delete', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></li>
	<% end %>
</ul>

<h2>Tags</h2>
<ul>
	<% @post.tags.each do |tag| %>
	<li><%= tag.category %></li>
	<% end %>
</ul>
